body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 20px;
}

h1 {
    color:rgb(255,66,1);
    margin-bottom: 20px;
}

/*tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: rgb(255,66,1);
    color: white;
}

/*formularios */
.usuario-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    max-width: 500px;
}

.usuario-form input,
.usuario-form select,
.usuario-form textarea {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


.btn-submit {
    background-color: #4CAF50;
    color: white;
}

.btn-delete {
    background-color: rgb(255,66,1);
    color: white;
}

.btn-back {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    padding: 8px 12px;
    border-radius: 4px;
    transition: 0.2s;
}g

.btn-back:hover {
    background-color: #ccc;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.btn {
  background-color: rgb(255,66,1);
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  font-family: sans-serif;
}

.btn:hover {
  background-color: #c63f00;
}


.container {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: white;
  padding: 20px;
  border: 1px;
  border-radius: 8px;
  box-shadow: 0 4px 35px black;
}

.titulo{
  color: rgb(255,66,1);
}

.Form{
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgb(97, 97, 97);
}

a {
  color: rgb(255,66,1); 
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
